@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.smart-search-page {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    gap: 20px;
}

.ai-search-h1{
    font-size: 35px;
    margin-top: 50px;
    font-family: "Lobster", sans-serif;
    font-weight: 100;
    color: #255366;
}

input {
    width: 50%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

button {
    width: 13%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #255366;
    cursor: pointer;
}

button:hover{
    background-color: #b0d5d6;
    color: #434343;
}

.result {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}