@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.create-project-container {
    display: flex;
    padding-top: 5%;
    border-radius: 15px;
    width: 100%;
    border-radius: 15px;
    height: 109vh;
}

.login-inner-container {
    height: 900px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #255366;
}

.paper-inner-container {
    border-radius: 15px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 900px;
}

.h2-login {
    font-size: 50px;
    margin-bottom: 50px;
    color: #255366;
    font-family: "Lobster", sans-serif;
}

.form-names {
    display: flex;
    width: 92%;
    justify-content: space-between;
    margin-bottom: 40px;
}

.choose-create-button {
    width: 93%;
    display: flex;
    flex-direction: column;
    height: 120px;
}