.project-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-button {
    position: absolute;
    top: 22%;
    transform: translateY(161%);
    color: #255366;
    border: none;
    cursor: pointer;
    background-color: unset;
}

.carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.carousel-slide {
    display: flex;
    min-width: 40%;
    max-width: 40%;
    box-sizing: border-box;
    margin: 30px;
    justify-content: center;
}

.carousel-slide img {
    width: 100%;
    height: auto;
}

.carousel-button:hover {
    cursor: pointer;
}

.prev {
    padding-left: 10px;
    left: 0%;
}

.next {
    padding-right: 10px;
    right: 0%;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.carousel-dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.carousel-dot.active {
    background-color: #717171;
}

.carousel-dot:hover {
    cursor: pointer;
    background-color: #717171;
}