.project-page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: x-large;
}

.project-page-image-container {
    width: 50%;
    height: auto;
    display: flex;
    border-radius: 15px;
    padding: 15px;
}

.project-page-image {
    width: 500px;
    height: 100%;
    z-index: 2;
    border-radius: 15px;
    border: 2px solid;
}

.project-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px;
}

.project-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px
}

h2 {
    color: #646464;
    font-size: 23px;
    font-weight: 500;
}

.p-description {
    display: flex;
    width: 107%;
    justify-content: space-evenly;
}

.project-section {
    margin: 7px;
}

.project-p {
    font-size: 20px;
    margin-top: 5px;
}